<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>

    <!-- ERRORES -->
    <target xsi:type="File" name="ErrorFile"
      layout="${longdate} ${logger} ${message}"
      fileName="Errors_${shortdate}.log"
      keepFileOpen="false"
      encoding="utf-8"/>

    <!-- INFORMACION -->
    <target xsi:type="File" name="InfoFile"
      layout="${longdate} ${logger} ${message}"
      fileName="Info_${shortdate}.log"
      keepFileOpen="false"
      encoding="utf-8"/>

    <!-- TRACE / DEBUG -->
    <target xsi:type="File" name="DebugFile"
      layout="${longdate} ${logger} ${message}"
      fileName="DebugTrace_${shortdate}.log"
      deleteOldFileOnStartup="true"
      encoding="utf-8"/>

    <!-- Target de tipo archivo -->
    <target xsi:type="Console" name="Consola"
      layout="${longdate} ${logger} ${message}"/>

  </targets>
  <rules>
    <logger name="*" levels="Info" writeTo="InfoFile"/>
    <logger name="*" levels="Trace,Debug" writeTo="DebugFile"/>
    <logger name="*" levels="Fatal,Error,Warn" writeTo="ErrorFile" />
    <logger name="*" levels="Info,Debug,Trace,Fatal,Error,Warn" writeTo="LogUdp" />
    <!--<logger name="*" levels="Fatal,Error,Warn" writeTo="LogMail" /> -->
  </rules>
</nlog>