<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <appSettings>
    <!-- ######### START NLOG CONF ######### -->
    <add key="NLogPath" value="\\tvaapps01\Colmena\Logs\ColmenaLauncher\" />
    <add key="UdpIp" value="10.67.56.149:878" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="smtpPort" value="587" />
    <add key="smtpAuthentication" value="Basic" />
    <add key="smtpUserName" value="desa.azteca.1@gmail.com" />
    <add key="smtpPassword" value="aztecadesa2012" />
    <add key="enableSsl" value="true" />
    <add key="from" value="desa.azteca.1@gmail.com" />
    <add key="to" value="isalgado@icloud.com" />
    <!-- ######### END NLOG CONF ######### -->
    <!-- ######### START COLMENA LAUNCHER ######### -->
    <add key="RulesConfigDirectory" value="C:\Users\josueguol\Documents\visual studio 2013\Projects\ColmenaLauncher\ColmenaLauncher\bin\Configuration" />
    <!-- ######### END COLMENA LAUNCHER ######### -->
  </appSettings>
</configuration>