$light_color: #FFFFFF; // Color de textos en fondos de color
$dark_color:#212B35; //Color de textos en fondos de claros
$base_color: #F8F8F8; //Color base de Dashboard
$border_color: #ccc;

$dasboard_base-darker: #001429;
$dasboard_base-dark: #084E8A;
$dasboard_base-blue: #007ACE; 
$dasboard_base-light: #B4E1FA;

